<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="assets/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="assets/script.js"></script>
	<script type="text/javascript" src="assets/jquery.validate.js"></script>
	<script type="text/javascript" src="assets/additional-methods.js"></script>
</head>
<body>
<form name = "f1" id = "f1" method="post">
	<table>
		<tr>
			<td><p style="line-height: 1.6; font-family: Calibri; font-size: 20px; color: black;">Name</p></td>
			<td>: <input type="text" name="name"></td>
		</tr>
		<tr>
			<td><p style="line-height: 1.6; font-family: Calibri; font-size: 20px; color: black;">Username</p></td>
			<td>: <input type="text" name="username"></td>
		</tr>
		<tr>
			<td><p style="line-height: 1.6; font-family: Calibri; font-size: 20px; color: black;">Email</p></td>
			<td>: <input type="text" name="email"></td>
		</tr>
		<tr>
			<td><p style="line-height: 1.6; font-family: Calibri; font-size: 20px; color: black;">Password</p></td>
			<td>: <input type="password" name="password"></td>
		</tr>
		<!--<tr>-->
			<!--<td><p style="line-height: 1.6; font-family: Calibri; font-size: 20px; color: black;">Re-type Password</p></td>-->
			<!--<td>: <input type="password" name="rpassword"></td>-->
		<!--</tr>-->
		<tr>
			<td>&nbsp</td>
			<td><button type="submit" name="signup">Create User</button></td></tr>
	</table>
</form>
</body>
</html>