<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome Home!</h1>

	<a href="/home">Back</a>
	
	<table border="1">
		<tr>
			<!--<th>Time</th>-->
			<th>Food Name</th>
			<th>Area</th>
			<th>Price Range</th>
		</tr>
		<% for(var i = 0; i < searchList.length; i++){ %>

		<tr>
			<td><%= searchList[i].food_name %></td>
			<td><%= searchList[i].area %></td>
			<td><%= searchList[i].price %></td>
		</tr>
		
		<% } %>

	</table>
</body>
</html>