<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

</head>
<body>
	<h1>Welcome Home <%= name %></h1>
    <a href="/logout">Logout</a> | <a href="/history">Search List</a> | <a href="/userlist">User List</a> | <a href="/adduser">Create User</a>
</body>
</html>